/* ================ RECENT UPDATES =================== */
@media screen and (max-width: 1200px) {
    /* body {
      background: red;
    } */
    .container {
      width: 94%;
      grid-template-columns: 7rem auto 23rem;
    }
  
    aside .logo h2 {
      display: none;
    }
  
    aside .sidebar h3 {
      display: none;
    }
  
    aside .sidebar a {
      width: 5.6rem;
    }
  
    aside .sidebar a:last-child {
      position: relative;
      margin-top: 1.8rem;
    }
  
    main .insights {
      grid-template-columns: 1fr;
      gap: 0;
    }
  
    main .recent-orders {
      width: 94%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 2rem 0 0 0.8rem;
    }
  
    main .recent-orders table {
      width: 83vw;
    }
  
    main table tbody tr td:last-child,
    main table t body tr td:first-child {
      display: none;
    }
  }